body {
  margin: 24;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.load-posts-button {
  background-color: darkgoldenrod;
}

.load-comments-button {
  background-color: cornflowerblue;
}

.post {
  background-color: #eee;
}

.comment {
  background-color: #ddd;
  margin-left: 16px;
  width: 400px;
}